
<%- include header %>
	
	<!--<% for(var i = 0; i < data.length; i ++){  var val = data[i]; %>
		<p><h2><%= val.title %></h2></p>
		<p>
			作者：<a href=""><%= val.name %></a>
			日期：<%= val.time.longTime %>
		</p>
		<p><%= val.post %></p>
	<% } %>-->
	<button type="button">切换个人博客</button>
	<input type="text" placeholder="查询博客" />
	<% data.forEach(function(val,index){ %>
		<p><h2><%= val.title %></h2></p>
		<p>
			作者：<a href=""><%= val.name %></a>
			日期：<%= val.time.longTime %>
			<% if (user && user.name == val.name){ %>
			&#x3000;&#x3000;&#x3000;&#x3000;&#x3000;&#x3000;<a href="">删除</a>
			<% } %>
		</p>
		<p><%= val.post %></p>
	<% }) %>

<%- include footer %>